{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Database of enslaved and unfree indigenous people throughout time across the Americas">
    <meta name="author" content="Brown University Library">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Stolen Relations</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static '/css/style.css' %}" />
    {% block header_other %}
    {% endblock header_other %}
</head>

<body class="container-fluid {% if user.is_authenticated %}user-editor {% endif %}">
    <header class="d-flex py-2 row  justify-content-between bg-primary">
        <h1 class="col-md-4"><a href="{% url 'info_url' %}" class="link-light">Stolen Relations: <span>Recovering Stories of Indigenous Enslavement in the Americas</span></a></h1>
        {% if not flag_maintenance %}
        {% endif %}
    </header>
    <section class="container">
        <main class="row">
            {% block content %}
            {% endblock content %}
        </main>
    </section>
    <footer class="container border-top my-2">
    </footer>
    {% block page_specific_js %}
    {% endblock page_specific_js %}
</body>

</html>
